services:
  dbt:
    image: aviation-analytics-dbt
    pull_policy: never
    container_name: aviation-analytics-dbt
    platform: linux/amd64
    build:
      dockerfile: ./dbt/Dockerfile
    volumes:
      - "./dbt:/dbt"
      - "./data:/data"
    environment:
      - ENV=dev
    command: tail -f /dev/null
    network_mode: "host"

  dlt:
    image: aviation-analytics-dlt
    pull_policy: never
    container_name: aviation-analytics-dlt
    platform: linux/amd64
    build:
      dockerfile: ./dlt/Dockerfile
    volumes:
      - "./dlt:/dlt"
      - "./data:/data"
    command: tail -f /dev/null
